html, body {
    background: #f6f6f6;
    font-family: "FiraSansRegular", sans-serif;    
    height: 100%;
    line-height: 1.42;
    width: 100%;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
.wrapper {
    min-height: 100%;
    min-width: 960px;
    overflow: hidden;
    position: relative;
}
.wrapper::after {
    content: "";
    display: block;
    height: 50px;
}
footer {
    background: #414141;
    height: 50px;
    margin-top: -50px;
    min-width: 960px;
    position: relative;
}
.maincontent {
    padding-bottom: 50px;
}
.container {
    position: relative;
    margin: 0 auto;
    max-width: 940px;
    width: 960px;
}

.clearfix::after, .clearfix::before {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.container {
    position: relative;
}
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: outside none none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img {
    border: 0 none;
}
td, th {
    padding: 0;
}

