@media screen and (max-width: 1200px) {
.wrapper, .footer {
    min-width: 0;
}
}
@media screen and (max-width: 992px) {
.container {
    box-sizing: border-box;
    padding:0 20px;
    width: 768px;
}
.sidebar {
    float: none;
    margin-bottom: 40px;
    width: 100%;
}
.info {
    float: none;
    width: 100%;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav__item {
    display: inline-block;
    /* margin-left: 30px; */
    vertical-align: middle;
   
}
.nav__item:first-child {
    margin-left: 0;
}

    
.nav__link {
    -moz-border-colors: none;
    border-color: -moz-use-text-color;
    border-style: none;
    border-width: 0;
    padding:0;
    margin-right: 10px;
    padding-bottom: 10px;
}
.nav__item_active .nav__link {
    color: #32c3e5;
    font-weight: bold;
    border: none;
}
.nav__link:active,.nav__link:hover {
    border: none;
}

.about__left {
    width: 35%;
}
.about__right {
    width: 65%;
}
.about__pic-item {
    height: 170px;
    width: 170px;
}
.portfolio__list {
    margin-left: -3%;
}
.portfolio__item {
    margin-bottom: 25px;
    margin-left: 3%;
    width: 30%;
}
.info__price{
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
}
@media screen and (max-width: 768px) {
.container {
    width: 95%;
}
.header__left {
    width: 75%;
}
.header__right {
    width: 25%;
}
.contacts {
    margin-top: 22px;
    background-clip: border-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: auto auto;
}
.contacts .contacts__trigger {
    background: scroll rgba(0, 0, 0, 0) url(../../img/icons/phone_resp.png) 0 0;  
    border: none;
}
.contacts:hover .contacts__trigger {
    background: scroll rgba(0, 0, 0, 0) url(../../img/icons/phone_resp_hover.png) 0 0;    
}

.contacts__dropdown, .contacts__dropdown-triangle {
    left: auto;
    right: 0;
    transform: translateX(0px);
}
.contacts__trigger {
    display: inline-block;
    height: 32px;
    text-indent: 9999px;
    white-space: nowrap;
    width: 32px;
}

.nav__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10px;
}
.about__left {
   margin-bottom: 15px;    
}

.about__right,.about__left {
    float: none;
    width: 100%;
}
.content-title {
    text-align: center;
}
.about__text {
    height: auto;
}
.about__download {
    text-align: center;
}
.career__left {
    float: none;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}
.career__pic {
    display: inline-block;
}
.career__right {
    float: none;
    width: 100%;
}
.career__block::after, .career__block::before {
    display: none;
}
.career__block .career__year {
    display: none;
}
.career__block {
    width: 100%;
}
.wrapper::after {
    height: 95px;
}
.footer {
    height: 95px;
    margin-top: -95px;
}
.footer__left{
    margin-bottom: 15px;
}
.footer .container {
    padding-top: 15px;
}
.copyright {
    position: static;
    text-align: center;
}
.social__icon {
    position: relative;
    top: 10px;
    text-align: center;
}

.portfolio__list {
    margin-left: -2%;
}
.portfolio__item {
    margin-left: 2%;
    width: 48%;
}
}
@media screen and (max-width: 480px) {
.container {
    box-sizing: border-box;
    padding: 0;
    width: 96%;
}
.user__name {
    font-size: 14px;
    max-width: 150px;
    width: 56%;
}
.nav__list {
    text-align: center;
}

.nav__link-text {
    font-size: 14px;
}
.nav__link-icon {
    display: none;
}
.about__text {
    height: auto;
}
.about__pic-item {
    max-height: 140px;
    max-width: 140px;
}
.about__text {
    font-size: 1rem;
}
.career__title {
    font-size: 18px;
}
.career__occupation, .career__date {
    font-size: 16px;
}
.portfolio__list {
    margin-left: 0;
}
.portfolio__item {
    margin-left: 0;
    width: 100%;
}

}
