.info {
    float: right;
    width: 73%;
    display: block;
}
.career__pic-img {
    display: block;
    max-height: 220px;
    min-width: 220px;
}
.career__occupation, .career__date {
    font-family: "FiraSansLight";
    font-size: 18px;
}
