.footer {
    background: #414141;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social{
    position: relative;
}
.social__link{
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    width: 45px;
}
.social__link_fb {
    background-image: url("../../img/icons/facebook.svg");  
   
}

.social__link_vk {
    background-image: url("../../img/icons/vk.svg");
    transition: .3s;
}

.social__link_linked {
    background-image: url("../../img/icons/linked.svg");
    transition: .3s;
}


.social__link_fb:hover {
    background-image: url("../../img/icons/facebook-hov.svg");
}


.social__link_vk:hover {
    background-image: url("../../img/icons/vk-hov.svg");
}


.social__link_linked:hover{
    background-image: url("../../img/icons/linked-hov.svg");
} 

.copyright {
    color: #9c9c9c;
    font-size: 14px;
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 18px;
}
.social__icon {
    position: absolute;
    right: 0;
}
.social__item {
    display: inline-block;
}
