.footer {
    background: #414141;
}
.social__link{
    background-repeat: no-repeat;
    display: block;
    height: 31px;
    width: 32px;
}
.social__link_fb {
    background-image: url("../../img/icons/Facebook_black.png");
    background-position: 0 0;    
}

.social__link_vk {
    background-image: url("../../img/icons/vk_black.png");
}

.social__link_tw {
    background-image: url("../../img/icons/Twit_black.png");
}

.social__link_fb:hover {
    background-image: url("../../img/icons/Facebook_blue.png");
}

.social__link_vk:hover {
    background-image: url("../../img/icons/vk_blue.png");
}

.social__link_tw:hover{
    background-image: url("../../img/icons/Twit_clack.png");
}

.copyright {
    color: #9c9c9c;
    font-size: 14px;
    left: 0;
    line-height: 16px;
    position: absolute;
    top: 18px;
}
.social__icon {
    position: absolute;
    right: 0;
    top: 10px;
}
.social__item {
    display: inline-block;
}
