.info {
    float: right;
    width: 73%;
    display: block;
}
.portfolio__list {
    font-size: 0;
    margin-left: -12px;
    
}
.portfolio__item:hover .portfolio__desc-title{   
	 color:#e85f61;

} 
.portfolio__item{
	transition:1s;
}

.portfolio__item:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);	
	transform:scale(1.07, 1.07);
}