			/* font-family: "FiraSansRegular"; */
@font-face {
    font-family: "FiraSansRegular";
    src: url("../fonts/FiraSans-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FiraSansBold"; */
@font-face {
    font-family: "FiraSansBold";
    src: url("../fonts/FiraSans-Bold.ttf");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "FiraSansItalic"; */
@font-face {
    font-family: "FiraSansMedium";
    src: url("../fonts/FiraSans-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}
/* font-family: "FiraSansBoldItalic"; */
@font-face {
    font-family: "FiraSansLight";
    src: url("../fonts/FiraSans-Light.ttf");
    font-style: normal;
    font-weight: normal;
}